<canvas id="myChart"> </canvas>

<div class="clearfix">
  Chart type
  <select id="type">
    <option value="line">line</option>
    <option value="bar">bar</option>
  </select>
  <input type="button" id="update" value="Update"/>
</div>

<%= content_tag("div", "", class: "pricehistories", data: {pricehistories: @product.pricehistories.map{|ph| {price: ph.price, date: ph.date}}}) %>


<script>
  var data = [];
  var labels = [];
  var priceHistories = $(".pricehistories").data("pricehistories");
  var dateFormat= "YYYY-MM-DD";

  for(var i = 0; i < priceHistories.length ; i++){
    var priceHistory = priceHistories[i];
    var price = priceHistory.price;
    var date = moment(priceHistory.date, dateFormat);
    data.push(
      {
        t: date.format(dateFormat),
        y: price
      }
    );
    labels.push(date);
  }


  var ctx = document.getElementById("myChart").getContext("2d");
  ctx.canvas.width = 1000;
  ctx.canvas.height = 300;
  var cfg = {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: "Price history",
        data: data,
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day'
          },
          distribution: 'series',
          ticks: {
            source: 'labels'
          },
          scaleLabel: {
            display: true,
            labelString: 'Date'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Price (NRs)'
          }
        }]
      }
    }
  };
  var chart = new Chart(ctx, cfg);

  document.getElementById('update').addEventListener('click', function() {
    var type = document.getElementById('type').value;
    chart.config.data.datasets[0].type = type;
    chart.update();
  });

</script>
