<h1>New Product</h1>

<h3>
  The beta version of this application currently only supports product URLs of
  <a href="https://www.sastodeal.com"> SastoDeal.com</a>
</h3>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>
