
<div class="footer" style="background-color: #232222; color: white; min-height: 40px; padding-top: 10px">
<div class="container text-center">
  <div class="row">
    Built by <a href="https://www.github.com/wildnihal">Nihaal Dhakal</a>
    Source at <a href="https://www.github.com/wildnihal/nepalicamel">Github</a>
    |
    Powered by
    <a href="#">Heroku</a>,
    <a href="#">Ruby on Rails</a>,
    <a href="#">Nokogiri</a>
  </div>
  <div class="row">
    <span class="small">
      Copyright <%= Time.now.year %>
    </span>
  </div>


</div>
</div>